annotated-types
anyio
blinker
click
colorama
fastapi
Flask
gunicorn
h11
idna
itsdangerous
Jinja2
joblib==1.3.0
MarkupSafe
nltk
numpy==1.24.4   # 💡 Pinned version to avoid errors with sklearn
pydantic
pydantic_core
regex
scikit-learn==1.3.0
scipy
sniffio
starlette
textblob
threadpoolctl
tqdm
typing_extensions
uvicorn
Werkzeug
